### Gradle ###
# ------------
.gradle
!gradle/wrapper/gradle-wrapper.jar
build/

### IntelliJ IDEA ###
# ------------
.idea
*.iws
*.iml
*.ipr
out/

### Eclipse ###
# ------------
*.classpath
*.project
*.settings
bin/

### Emacs ###
# ------------
.nb-*

### NetBeans ###
# ------------
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Sublime Text ###
# ------------
*.sublime-*

### OS X ###
# ------------
.DS_Store
.AppleDouble
.LSOverride